:root {
  /* Colors */
  --primary: #f1faee;
  --primary-transparent: hsla(105, 55%, 96%, 0.7);
  --secondary: #10172d;
  --accent: #3ca09b;
  --accent-hover: #31807c;
  --btns: #956ce6;
  --yellow: #f4ea9e;
  --btns-hover: #7854c0;
  --btns-trans: #946be626;
  --error: #d33f3f;
  --valid: #3bad53;
  /* --boxes: #edf6ea; */
  --boxes: hsl(105, 40%, 92%);
  /* Texts */
  --dark-text-300: #10172d;
  --dark-text-200: #40485e;
  --dark-text-100: #a3aabf;
  --light-text-400: #f1faee;
  --light-text-300: #b9c1be;
  --light-text-200: #8c9497;
  --light-text-100: #5f6671;
  --border-200: #a3aabf;
  --border-100: #fdfefc;
  /* Sizes */
  /* --h1: 3rem; 48px/1.2 700 Bold */
  --h2: 2.25rem; /*36px/1.2 600 semiBold*/
  --h3: 1.5rem; /*24px/1.3 600 semiBold*/
  --subheading: 1.125rem; /* 18px/1.3 500 medium */
  --body: 1rem; /* 16px/1.5 400 regular*/
  /* --links: 16px; 16px/1.5 500 medium */
  --shadow-1: 0 5px 15px rgba(0, 0, 0, 0.2);
  --shadow-2: 0 5px 15px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary);
  min-height: 100vh;
  line-height: 1.5;
}

h1 {
  font-size: 1.875rem;
  font-size: clamp(1.875rem, 1.2rem + 2.4vw, 3rem);
  font-weight: 700;
  line-height: 1.2;
  color: var(--dark-text-300);
}
h2 {
  font-size: 1.375rem;
  font-size: clamp(
    1.375rem,
    1.0290697674418605rem + 1.627906976744186vw,
    2.25rem
  );
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--dark-text-300);
}
h3 {
  font-size: var(--h3);
  font-weight: 600;
  line-height: 1.3;
}
p,
a {
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.8255813953488372rem + 0.23255813953488372vw,
    1rem
  );
  color: var(--dark-text-300);
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

input,
textarea,
button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}
.subheading {
  font-size: 0.875rem;
  font-size: clamp(
    1rem,
    0.7840909090909091rem + 0.45454545454545453vw,
    1.125rem
  );
  color: var(--dark-text-300);
}
/* Utilities */
.container {
  width: min(1200px, calc(100% - 2rem));
  margin-inline: auto;
}

section,
footer {
  margin-block-start: 120px;
}

.box {
  background-color: var(--boxes);
  box-shadow: var(--shadow-1);
  padding: 2rem;
  border-radius: 25px;
}
.box__heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 1rem;
}
.box__icon {
  color: var(--primary);
  background-color: var(--accent);
  border-radius: 15px;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
}
.box__title {
  color: var(--dark-text-300);
}

.box__description {
  color: var(--dark-text-200);
}

.insights {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-content: center;
  grid-auto-rows: 1fr;
  gap: 1rem;
}
.insight {
  background-color: var(--primary);
  box-shadow: var(--shadow-2);
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
  transition: 0.15s ease-in-out;
  transition-property: scale, box-shadow;
}
.insight:hover {
  box-shadow: var(--shadow-1);
  scale: 1.04;
}
.insight__heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 1rem;
  width: fit-content;
  margin-inline: auto;
}
.insight__icon {
  color: var(--primary);
  background-color: var(--accent);
  border-radius: 15px;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
}

.insight__description {
  color: var(--dark-text-200);
}

.main-title {
  text-align: center;
  margin-block-end: 60px;
  color: var(--dark-text-300);
  scroll-margin-top: 120px;
}

#backToTop {
  position: fixed; /* fixed on viewport */
  bottom: 80px; /* move up if overlaps footer */
  right: 40px;
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
  pointer-events: none; /* prevent click when hidden */
}
#backToTop.show:hover {
  opacity: 1;
}

#backToTop.show {
  opacity: 0.5;
  visibility: visible;
  pointer-events: auto; /* enable click when visible */
}

@media (max-width: 650px) {
  :root {
    /* --h1: 1.875rem; 48px/1.2 700 Bold */
    --h2: 2.25rem; /*36px/1.2 600 semiBold*/
    --h3: 1.5rem; /*24px/1.3 600 semiBold*/
    --subheading: 0.875rem; /* 18px/1.3 500 medium */
    --body: 0.875rem; /* 14px */
  }

  section,
  footer {
    margin-block-start: 90px;
  }

  h1 {
    font-size: 1.875rem;
    font-size: clamp(
      1.875rem,
      1.1111111111111112rem + 3.7037037037037033vw,
      2.5rem
    );
  }
}

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  padding-block-start: 25px;
  background-color: var(--primary-transparent);
  backdrop-filter: blur(12px); /* the blur magic */
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  border-block-end: 2px solid var(--primary);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 34px;
}
.logo__text {
  font-size: 1.625rem; /* 26px semibold */
  font-weight: 500;
  color: var(--dark-text-300);
  margin-inline-start: 8px;
}
#menu-button {
  display: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  padding: 0.5rem;
  color: var(--dark-text-300);
  font-weight: 500;
  text-wrap: nowrap;
  transition: color 0.15s, background-color 0.15s;
}
.nav-links li:last-child a {
  border-radius: 100vw;
  padding: 0.5rem 0.75rem;
  background-color: var(--btns);
  color: var(--light-text-400);
}
.nav-links li:not(:last-child) a:hover {
  color: var(--accent);
}
.nav-links li:last-child a:hover {
  background-color: var(--btns-hover);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: rgb(0, 0, 0);
  pointer-events: none;
}

@media (max-width: 750px) {
  .logo__img {
    width: 26px;
  }
  .logo__text {
    font-size: 1.375rem;
  }
  .drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    padding: 7rem 2rem;
    height: 100%;
    background-color: var(--primary);
  }
  .drawer.opened {
    transform: translateX(0);
  }

  .nav-links a {
    padding: 0.75rem 1rem;
    background-color: var(--boxes);
    border-radius: 10px;
    width: 100%;
    display: block;
    text-align: center;
  }

  #menu-button {
    display: block;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
  }

  #menu-button span {
    position: absolute;
    left: 0;
    width: 26px;
    height: 4px;
    background-color: var(--secondary);
    border-radius: 10px;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out,
      width 0.25s ease-in-out;
  }

  #menu-button span:nth-child(1) {
    top: 0;
  }
  #menu-button span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  #menu-button span:nth-child(3) {
    bottom: 0;
  }

  /* Cross state */
  #menu-button.cross span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  #menu-button.cross span:nth-child(2) {
    opacity: 0;
    width: 0;
  }
  #menu-button.cross span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .overlay {
    transition: opacity 0.25s ease-in-out;
  }
  .overlay.opened {
    opacity: 0.4;
    pointer-events: all;
  }
}

@media (max-width: 950px) {
  .nav-links {
    gap: 1rem;
  }

  .logo__img {
    width: 24px;
  }
  .logo__text {
    font-size: 1.25rem;
  }
}

/* Hero Section */
.hero {
  /* position: relative; */
  margin-block-start: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__info {
  max-width: 500px;
  margin-inline-end: 1rem;
}
.hero__title {
  margin-block-end: 0.5rem;
  color: var(--dark-text-300);
}
.hero__title span {
  color: var(--accent);
}

.hero__subheading {
  color: var(--dark-text-200);
  margin-block-end: 1rem;
}

.outline__btn {
  display: block;
  color: var(--btns);
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--btns);
  border-radius: 100vw;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.outline__btn:hover {
  background-color: var(--btns);
  color: var(--primary);
}

.hero__pharma {
  position: absolute;
  right: 0;
  background-color: var(--btns-trans);
  padding: 1.5rem;
  border-radius: 1rem 0rem 0rem 1rem;
  max-width: 450px;
}
.hero__event {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 1rem;
}
.hero__event img {
  width: 75px;
  max-width: 100%;
}

.hero__event p {
  color: var(--dark-text-300);
  font-size: var(--subheading);
  text-align: left;
}

@media (max-width: 950px) {
  .hero {
    margin-block-start: 140px;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    align-items: center;
  }
  .hero__info {
    margin-inline-end: 0;
  }
  .outline__btn {
    margin-inline: auto;
  }
  .hero__pharma {
    position: relative;
    border-radius: 1rem;
  }
}
/* About */
.about {
  display: grid;
  scroll-margin-top: 130px;
  margin-block-start: 200px;
  gap: 30px;
}

.who {
  grid-column: span 2;
  padding: 4rem;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 25px;
}
.who h2 {
  color: var(--light-text-400);
  margin-block-end: 1rem;
}
.who p {
  color: var(--light-text-300);
  max-width: 80ch;
  margin-inline: auto;
}

@media (max-width: 650px) {
  .about {
    grid-template-columns: 1fr;
    margin-block-start: 130px;
  }
  .who {
    grid-column: span 1;
    padding: 2rem;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 25px;
  }
}
/* Core Values */

.cores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.cores .box {
  max-width: 350px;
}

/* Testimonials */
.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1.5rem;
}

.testimonials img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.testimonials .box__subtitle {
  color: #10172d;
  font-size: 14px;
}

/* MedZ Cast */
.medz-cast {
  background-color: var(--boxes);
  box-shadow: var(--shadow-1);
  padding: 2rem;
  border-radius: 25px;
}
.cast__heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 1rem;
}
.cast__title {
  color: var(--dark-text-300);
}
.cast__icon {
  color: var(--accent);
  /* width: 50px; */
  width: 2.1875rem;
  width: clamp(2.1875rem, 1.816860465116279rem + 1.744186046511628vw, 3.125rem);
  height: 2.1875rem;
  height: clamp(
    2.1875rem,
    1.816860465116279rem + 1.744186046511628vw,
    3.125rem
  );
}
.cast__description {
  color: var(--dark-text-200);
  margin-block-end: 1rem;
}

.cast__playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
  gap: 3rem;
}
.playlist__info {
  text-align: center;
}
.playlist__info span {
  color: var(--accent);
}

.cast__info .subheading {
  color: var(--dark-text-300);
  margin-block-end: 1rem;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.thumbnail {
  width: 100%;
  max-width: 350px;
  background-color: var(--primary);
  box-shadow: var(--shadow-2);
  border-radius: 25px;
  filter: brightness(0.8);
  transition: filter 0.15s ease-in-out;
}

.thumbnail:hover {
  filter: brightness(1);
}

@media (max-width: 950px) {
  .cast__playlist .outline__btn {
    margin-inline: unset;
  }

  .thumbnail {
    max-width: 325px;
  }
}

@media (max-width: 750px) {
  .thumbnail {
    max-width: 350px;
  }

  .cast__playlist {
    flex-direction: column;
    gap: 0rem;
    margin-block: 2rem;
  }
}

/* Our Next Big Thing */
.pharmaz {
  background-color: var(--boxes);
  box-shadow: var(--shadow-1);
  padding: 2rem;
  border-radius: 25px;
  margin-block-end: 60px;
}
.pharmaz .cast__icon {
  width: 64px;
  height: 64px;
}
.pharmaz .cast__description span {
  color: var(--btns);
  font-size: var(--subheading);
  font-weight: bold;
}

.pharmaz__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.pharmaz__box {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  max-width: 320px;
  height: 180px;
  padding: 1.5rem;
  border-radius: 25px;
  box-shadow: var(--shadow-1);
  background-color: var(--btns);
}

.pharmaz__boxes .box__description {
  color: var(--light-text-400);
  font-size: var(--subheading);
}
.pharmaz__boxes .box__title {
  color: var(--yellow);
  margin-block-end: 6px;
}

.pharmaz__box.prs {
  cursor: pointer;
}

.pharmaz__box .clicks {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--btns-hover);
  width: 40px;
  height: 40px;
}

.popup {
  position: absolute;
  background: #222;
  color: #fff;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 1.4;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  z-index: 999;
  max-width: 250px;

  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transform-origin: bottom center;
  pointer-events: none;

  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.2s;

  will-change: opacity, transform;
}

.popup.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  pointer-events: auto;
}

/* Features */

.feature:not(:last-child) {
  margin-block-end: 3rem;
}

.feature .pharmaz__boxes {
  margin-block-start: 1.5rem;
}
.feature .box__subtitle {
  max-width: 30ch;
}
.feature .pharmaz__box {
  padding: 1.5rem;
  max-width: 350px;
  height: auto;
}

@media (max-width: 650px) {
  .feature .box__heading {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
  .feature .box__heading h3 {
    margin-block-end: 0.5rem;
  }
}

/* Regeneration */
.registration .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: fit-content;
  margin-inline: auto;
}
.registration h3 {
  color: var(--dark-text-200);
  font-size: 1rem;
  font-size: clamp(1rem, 0.75rem + 0.625vw, 1.5rem);
}

.registration .filled-btn {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.625rem + 0.3125vw, 1rem);
}

@media (max-width: 650px) {
  .registration .box {
    padding: 1.75rem;
    flex-direction: column;
  }
}

/* Contact */
.contact {
  display: flex;
  gap: 2rem;
  scroll-margin-top: 120px;
  justify-content: space-between;
}
.contact > * {
  flex: 1;
}
.contact form {
  width: 100%;
  max-width: 450px;
  display: grid;
  gap: 1.5rem;
}

.contact input,
.contact textarea {
  background-color: transparent;
  color: var(--dark-text-200);
  padding: 1rem;
  font-size: 1;
  border: none;
  border-block-end: 3px solid var(--border-200);
  transition: border-block-end-color 0.15s ease-in-out;
}
.contact input:focus-visible,
.contact textarea:focus-visible {
  border-block-end-color: var(--dark-text-200);
}
.error-msg {
  display: none;
  color: var(--error);
  font-size: 0.85rem;
  margin-top: -1rem;
}
/* Validation colors */
.contact input.user-touched.invalid {
  border-block-end-color: var(--error);
}

.contact input.user-touched.valid {
  border-block-end-color: var(--valid);
}

.contact textarea {
  resize: none;
}

*:focus-visible {
  outline: 1px solid transparent;
}

.filled-btn {
  border: none;
  border-radius: 12px;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary);
  background-color: var(--btns);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}
.filled-btn:hover {
  background-color: var(--btns-hover);
}

.contact__right {
  display: flex;
  flex-direction: column;
  justify-content: top; /* disable when enabling pay */
  gap: 2rem;
  width: 100%;
  max-width: 600px;
}

.pay {
  display: none;
  padding-inline-end: 5rem;
}

.pay__btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-start: 1.5rem;
}
.pay__btn button {
  width: 100%;
}

.contact__right .pay img {
  width: 64px;
}

.contact__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.contact__info h1 {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 2.75rem;
  font-size: clamp(2.75rem, 2.125rem + 1.5625vw, 4rem);
  font-weight: 500;
}

.contact__info .email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-inline-end: 1rem;
}
.contact__info .email .icon {
  color: var(--dark-text-200);
}
.contact__info .email a {
  color: var(--dark-text-200);
}
.contact .links {
  display: flex;
  gap: 10px;
}
.contact .link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--light-text-400);
  width: 40px;
  height: 40px;
  transition: background-color 0.15s ease-in-out;
}
.contact .link:hover {
  background-color: var(--accent);
}
.contact .main-title {
  display: none;
}

@media (max-width: 950px) {
  .contact {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    margin-block-start: 80px;
  }
  .contact > * {
    margin-inline: auto;
  }

  .pay {
    padding-inline-end: 2rem;
  }
  .contact__info,
  .contact__info .email {
    justify-content: center;
  }
}

/* Footer */
footer {
  background-color: var(--secondary);
}

footer .copy {
  padding-block: 1rem;
  font-size: 12px;
  border-block-start: 1px solid var(--border-200);
  color: var(--dark-text-100);
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin-inline: auto;
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding-block: 2rem;
}

.footer__logo_heading {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-block-end: 10px;
}
.footer__logo_heading span {
  color: var(--light-text-400);
  font-size: 16px;
}
footer .footer__logo p {
  color: var(--light-text-100);
  max-width: 200px;
}
footer .title {
  color: var(--light-text-400);
}

.footer__link {
  color: var(--light-text-200);
  font-size: 14px;
}
.footer__link:not(.email__text):hover {
  text-decoration: underline;
}

footer .links {
  display: flex;
  gap: 10px;
  margin-block-start: 10px;
}
footer .link {
  background-color: var(--light-text-300);
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  transition: background-color 0.15s ease-in-out;
}
footer .link > * {
  width: 22px;
  height: 22px;
}
footer .link:hover {
  background-color: var(--primary);
}
.footer__link:first-child {
  margin-block-start: 10px;
  display: block;
}
